html {
  min-height: 100dvh;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2f3035;
  background-image: url(images/background-gansukoket-restaurant.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 0.5em 0.5em;
  text-align: center;
}

nav {
  background-color: rgba(0, 0, 0, 0.333);
  padding: 14px 40px 14px;
  text-align: center;
  width: 100%;
}

main {
  max-width: 800px;
  text-align: center;
  padding: 50px 250px 10px;
}

footer {
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 1em;
  width: 100%;
}

h1 {
  font-size: 50px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
}

p {
  font-size: 18px;
  color: white;
  font-family: "Quicksand", sans-serif;
}

a {
  color: white;
  font-family: "Exo 2", sans-serif;
}

a.btn-reservation {
  border: 1px solid white;
  padding: 1em 2em;
  display: block;
  width: 200px;
  margin: 0 auto;
  text-decoration: none;
  border-radius: 0.5em;
  background-color: #3f3f3f18;
  font-size: large;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-wrap: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  transition: all 0.2s;
}

a.btn-reservation > svg {
  width: 1.2em;
  height: 1.2em;
  flex-shrink: 0;
  fill: currentColor;
}

a.btn-reservation:hover {
  color: rgba(250, 235, 215, 0.801);
  background-color: #4646468e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.intro {
  margin-bottom: 30px;
}
nav a {
  color: white;
  font-size: 12px;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.footer-center {
  text-align: center;
  margin: 0;
  font-size: 12px;
  color: rgba(250, 235, 215, 0.801);
  font-family: "Exo 2", sans-serif;
}

.maps {
  text-align: center;
  padding-bottom: 40px;
  width: 100%;
}

.maps > iframe {
  width: 65%;
  height: 350px;
  border-radius: 0.5em;
}

@media (max-width: 768px) {
  main {
    width: 80%;
    padding: 25px 25px 10px;
  }

  .maps > iframe {
    width: 95%;
    height: 200px;
  }
}


/*----------------------------------\
|               Menu                |
\----------------------------------*/

.menu-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
  background-color: #9999993f;
  margin-bottom: 2em;
  color: #ececec;
  border-radius: 0.25em;
}

.menu {
  font-family: sans-serif;
  font-size: 14px;
}

.menu-group-heading {
  margin: 0;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #ccc;
}

.menu-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em 0;
}

.menu-item {
  display: flex;
  /* background-color: rgb(255, 255, 255); */
  /* color: #2f3035 !important; */
  color: white !important;
  padding: 0.5em;
  border-radius: 0.15em;
}

.menu-item-img {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;
}

.menu-item-text {
  flex-grow: 1;
}

.menu-item-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.menu-item-name {
  margin-right: 1.5em;
  text-align: left;
}

.menu-item-desc {
  line-height: 1.6;
  text-align: left;
  /* color: #2f3035 !important; */
}

@media screen and (min-width: 992px) {
  .menu {
    font-size: 16px;
  }

  .menu-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-item-img {
    width: 125px;
    height: 125px;
  }
}
